{% extends 'index.html' %}
{% block content %}
<div class='d-flex justify-content-center'>
    <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5" style="width: 50%;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            {{ formset.management_form }}
            <table id="form-container">
                {% for form in formset %}
                <div class="step_form">
                    {{ form.as_p }}
                </div>
                {% endfor %}
            </table>
            <div class="d-flex" id="button-group">
                <button class="me-auto" id="add-form" type="button">Добавить шаг</button>
                <button type='submit'>Создать рецепт</button>
            </div>
        </form>
    </div>
</div>
<script>
    let birdForm = document.querySelectorAll(".step_form")
    let container = document.querySelector("#form-container").parentNode
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_step_set-TOTAL_FORMS")
    let button_group = document.querySelector('#button-group')

    let formNum = 0
    addButton.addEventListener('click', addForm)

    function addForm(e) {
        e.preventDefault()

        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`step_set-(\\d){1}-`, 'g')
        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `step_set-${formNum}-`)
        container.insertBefore(newForm, button_group)

        totalForms.setAttribute('value', `${formNum + 1}`) //Increment the number of total forms in the management form
    }
</script>
{% endblock content %}