{% extends 'index.html' %}
{% block content %}
    <div class = "d-flex justify-content-center">
        <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5" style="width: 80rem;">
            <div class = "d-flex justify-content-center">
                <div class="d-flex flex-column mt-5">
                    <h1>{{ recipe.name }}</h1>
                    <ul>
                        {% for step in steps %}<li>{{ step.text_field }}</li>{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
